@font-face {
  font-family: 'noto_sans_jpblack';
  src: url("./fonts/notosansjp-black-webfont.woff2") format("woff2"), url("./fonts/notosansjp-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans_jpbold';
  src: url("./fonts/notosansjp-bold-webfont.woff2") format("woff2"), url("./fonts/notosansjp-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans_jplight';
  src: url("./fonts/notosansjp-light-webfont.woff2") format("woff2"), url("./fonts/notosansjp-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans_jpmedium';
  src: url("./fonts/notosansjp-medium-webfont.woff2") format("woff2"), url("./fonts/notosansjp-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans_jp_regularregular';
  src: url("./fonts/notosansjp-regular-webfont.woff2") format("woff2"), url("./fonts/notosansjp-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sans_jpthin';
  src: url("./fonts/notosansjp-thin-webfont.woff2") format("woff2"), url("./fonts/notosansjp-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sansregular';
  src: url("./fonts/notosans-regular-webfont.woff2") format("woff2"), url("./fonts/notosans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sansbold';
  src: url("./fonts/notosans-bold-webfont.woff2") format("woff2"), url("./fonts/notosans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweatherregular';
  src: url("./fonts/merriweather-regular-webfont.woff2") format("woff2"), url("./fonts/merriweather-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweatherbold';
  src: url("./fonts/merriweather-bold-webfont.woff2") format("woff2"), url("./fonts/merriweather-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweatherblack';
  src: url("./fonts/merriweather-black-webfont.woff2") format("woff2"), url("./fonts/merriweather-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'noto_sansregular';
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-x: hidden;
}

:focus {
  outline: none;
}

a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #666;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #666;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
a {
  color: #0072bc;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #666;
}

select::-ms-expand {
  display: none;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
  font-family: 'Roboto', sans-serif;
  padding: 14px 22px 12px;
  display: block;
  width: 100%;
  margin: 0;
  outline: 0;
  border-radius: 0;
  border: 1px solid #d5d4d4;
  color: #555;
}

select {
  font-family: 'Roboto', sans-serif;
  border: none;
  width: 100%;
  background: none;
  color: white;
  padding: 10px 0;
  border-bottom: 1px solid #697583;
  color: #697583;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #4b7c11;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  width: 100% !important;
  overflow: auto;
  height: 92px;
  min-height: 92px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.browserupgrade {
  margin: 0;
  background: #fdca00;
  color: #000;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
}

.browserupgrade a {
  color: #359FFF;
  font-weight: bold;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  border: none;
}

a {
  color: #016148;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

headings() {
  text-align: left;
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  font-weight: normal;
  color: #282220;
  margin: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.ovh {
  overflow: visible;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5em;
  color: #333;
}

h3 {
  color: #0066ff;
  font-family: 'noto_sansbold';
  font-size: 14px;
  text-transform: uppercase;
}

.date {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.page-title {
  color: #fff;
  font-size: 24px;
  font-family: 'merriweatherblack';
  margin-bottom: 24px;
}

.section-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.section-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ccc;
  left: 0;
  z-index: 1;
}

.section-title span {
  position: relative;
  border-bottom: 3px solid #fe9900;
  display: inline-block;
  width: auto;
  z-index: 2;
}

.desktop {
  display: block;
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}

@media (max-width: 767px) {
  .mobile {
    display: block;
  }
}

.social-share {
  padding: 10px 5px;
  margin-right: 15px;
  border: 1px solid #eee;
  height: 150px;
  float: left;
}

@media (max-width: 1000px) {
  .social-share {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-right: 0;
    margin-bottom: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
}

.social-share p {
  font-size: 11px !important;
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block !important;
}

@media (max-width: 1000px) {
  .social-share p {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

@media (max-width: 1000px) {
  .social-share ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.social-share ul li.fb-share a i {
  color: #4267B2;
}

.social-share ul li.twitter-share a i {
  color: #1DA1F2;
}

.social-share ul li.gmail-share a i {
  color: #666;
}

.social-share ul li a {
  padding: 6px 10px;
  display: block;
  text-align: center;
}

.social-share ul li a:hover i {
  color: #000;
}

.social-share ul li a i {
  font-size: 20px;
}

.top-btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -29px;
  background: #f0efef;
  padding: 11px 16px;
  border-radius: 100%;
  font-size: 13px;
  text-transform: uppercase;
  width: 55px;
  height: 55px;
  color: #666;
}

@media (min-width: 992px) {
  .top-btn:hover {
    color: #000;
  }
}

.fixed-top-btn {
  position: fixed;
  bottom: -29px;
  top: auto;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1326px;
  }
}

@media (max-width: 1280px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
}

header {
  padding: 20px 0;
  position: relative;
}

@media (max-width: 968px) {
  header {
    overflow: hidden;
  }
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 968px) {
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .container .site-title {
  margin: 0;
}

@media (max-width: 1110px) {
  header .container .site-title {
    width: 17%;
  }
}

@media (max-width: 767px) {
  header .container .site-title {
    width: 30%;
  }
}

header .container .site-title a {
  display: block;
}

header .container .site-title a img {
  max-width: 88%;
}

@media (max-width: 1110px) {
  header .container .site-title a img {
    max-width: 80%;
  }
}

@media (max-width: 767px) {
  header .container .site-title a img {
    max-width: 100%;
  }
}

header .container .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1110px) {
  header .container .right-nav {
    width: 83%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 968px) {
  header .container .right-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  header .container .right-nav {
    width: 70%;
  }
}

header .container .right-nav .mobile-menu-icon {
  display: none;
}

@media (max-width: 968px) {
  header .container .right-nav .mobile-menu-icon {
    width: 30px;
    cursor: pointer;
    height: 27px;
    display: block;
    position: relative;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 15px;
  }
  header .container .right-nav .mobile-menu-icon a {
    width: 30px;
    cursor: pointer;
    height: 27px;
    display: block;
    position: relative;
  }
  header .container .right-nav .mobile-menu-icon a span {
    display: block;
    width: 100%;
    background: #000;
    left: 0;
    position: absolute;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    height: 3px;
    opacity: 1;
    border-radius: 4px;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  header .container .right-nav .mobile-menu-icon a span:nth-child(1) {
    top: 0;
  }
  header .container .right-nav .mobile-menu-icon a span:nth-child(2), header .container .right-nav .mobile-menu-icon a span:nth-child(3) {
    top: 10px;
  }
  header .container .right-nav .mobile-menu-icon a span:nth-child(4) {
    top: 20px;
  }
}

header .container .right-nav .mobile-menu-icon.open {
  z-index: 2;
}

header .container .right-nav .mobile-menu-icon.open span:nth-child(1), header .container .right-nav .mobile-menu-icon.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

header .container .right-nav .mobile-menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .container .right-nav .mobile-menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .container .right-nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 968px) {
  header .container .right-nav .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ccc;
    position: absolute;
    position: fixed;
    width: 65%;
    right: -100%;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    padding: 120px 20px 80px;
    top: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    z-index: 1;
    -webkit-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
    height: auto;
  }
}

@media (max-width: 600px) {
  header .container .right-nav .nav {
    padding: 80px 20px;
  }
}

header .container .right-nav .nav li {
  padding: 0 13px;
}

@media (max-width: 1110px) {
  header .container .right-nav .nav li {
    padding: 0 10px;
  }
}

@media (max-width: 968px) {
  header .container .right-nav .nav li {
    padding: 0;
    width: 100%;
    text-align: right;
  }
}

header .container .right-nav .nav li a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2em;
  color: #000;
  padding: 15px 0px;
  display: block;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1110px) {
  header .container .right-nav .nav li a {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  header .container .right-nav .nav li a:before {
    content: '';
    position: absolute;
    left: -101%;
    width: 100%;
    background: #fe9900;
    height: 5px;
    bottom: 0px;
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
  }
  header .container .right-nav .nav li a:hover:before {
    left: 0;
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
  }
}

@media (max-width: 968px) {
  header .container .right-nav .nav li a {
    font-size: 22px;
    display: block;
  }
}

@media (max-width: 600px) {
  header .container .right-nav .nav li a {
    font-size: 14px;
  }
}

header .container .right-nav .nav li.current-menu-item a {
  font-family: 'noto_sansbold';
}

header .container .right-nav .nav li.current-menu-item a:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  background: #fe9900;
  height: 5px;
  bottom: 0px;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

header .container .right-nav .nav.open {
  right: 0;
  -webkit-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
}

.toggle-search {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin-left: 31px;
  width: 293px;
}

@media (max-width: 1110px) {
  .toggle-search {
    width: 290px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .toggle-search {
    display: none;
  }
}

.toggle-search input {
  padding: 8px 5px;
  padding-left: 30px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 100%;
}

.toggle-search .search-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  width: 24px;
  height: 21px;
  padding: 5px 8px 5px 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.toggle-search .search-icon:before {
  width: 17px;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 17px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  color: #ccc;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.toggle-search .search-btn {
  display: block;
  padding: 8px 24px 9px;
  background: #0d3174;
  border-radius: 14px;
  font-size: 11px;
  color: #fff;
  position: absolute;
  top: 2px;
  right: 2px;
  width: auto;
  cursor: pointer;
  margin: 0;
  border: none;
}

@media (max-width: 767px) {
  .toggle-search .search-btn {
    top: 17px;
  }
}

.toggle-search.mobile {
  display: none;
}

@media (max-width: 767px) {
  .toggle-search.mobile {
    display: block;
    margin: 0;
    width: 100%;
    padding: 15px 0;
    background: #003291;
    border-bottom: 1px solid #fff;
  }
}

.top-banner-wrapper {
  background: #003291;
}

.top-banner-wrapper img {
  margin: 0 auto;
}

.home-top-news-wrapper {
  margin: 20px 0;
}

.home-top-news-wrapper .container .news-img {
  width: 47%;
  margin-right: 30px;
  float: left;
  height: 340px;
}

@media (max-width: 1152px) {
  .home-top-news-wrapper .container .news-img {
    height: 380px;
  }
}

@media (max-width: 1000px) {
  .home-top-news-wrapper .container .news-img {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    height: auto;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 1000px) {
  .home-top-news-wrapper .container .news-img img {
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .home-top-news-wrapper .container .news-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-top-news-wrapper .container .news-txt h3 {
  font-size: 32px;
  line-height: 1.2em;
  color: #000;
  font-family: 'merriweatherregular';
  text-transform: initial;
  padding: 15px 0 0;
}

@media (max-width: 1000px) {
  .home-top-news-wrapper .container .news-txt h3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 450px) {
  .home-top-news-wrapper .container .news-txt h3 {
    font-size: 25px;
  }
}

@media (max-width: 1050px) {
  .home-top-news-wrapper .container .news-txt h3 br {
    display: none;
  }
}

.home-top-news-wrapper .container .news-txt p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  .home-top-news-wrapper .container .news-txt p {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.home-top-news-wrapper .container .news-txt a {
  font-size: 14px;
  color: #ff9900;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .home-top-news-wrapper .container .news-txt a {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

.home-top-news-wrapper .container .news-txt a:hover {
  color: #0d3174;
}

.home-top-news-wrapper .container .news-txt h3, .home-top-news-wrapper .container .news-txt p, .home-top-news-wrapper .container .news-txt a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .home-top-news-wrapper .container .news-txt h3, .home-top-news-wrapper .container .news-txt p, .home-top-news-wrapper .container .news-txt a {
    display: block;
  }
}

.subscribe-wrapper {
  background: #f1eff0;
  padding: 20px 0;
}

.subscribe-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1004px) {
  .subscribe-wrapper .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1170px) {
  .subscribe-wrapper .container .left {
    width: 25%;
  }
}

@media (max-width: 1080px) {
  .subscribe-wrapper .container .left {
    width: 20%;
  }
}

@media (max-width: 1004px) {
  .subscribe-wrapper .container .left {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
}

.subscribe-wrapper .container .left p {
  line-height: 1.2em;
  font-size: 18px;
  color: #000;
  font-family: 'merriweatherbold';
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .subscribe-wrapper .container .left p {
    text-align: center;
  }
}

.subscribe-wrapper .container .left p span {
  display: block;
  font-size: 13px;
  color: #0066ff;
  font-family: 'merriweatherregular';
}

.subscribe-wrapper .container .right {
  width: 70%;
}

@media (max-width: 1170px) {
  .subscribe-wrapper .container .right {
    width: 75%;
  }
}

@media (max-width: 1080px) {
  .subscribe-wrapper .container .right {
    width: 80%;
  }
}

@media (max-width: 1004px) {
  .subscribe-wrapper .container .right {
    width: 100%;
  }
}

@media (max-width: 1004px) {
  .subscribe-wrapper .container .right form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 767px) {
  .subscribe-wrapper .container .right form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe-wrapper .container .right form input, .subscribe-wrapper .container .right form select {
  display: inline-block;
  width: 226px;
  margin-right: 1%;
  padding: 7px 10px;
  font-size: 12px;
  font-family: 'noto_sansregular';
}

@media (max-width: 1170px) {
  .subscribe-wrapper .container .right form input, .subscribe-wrapper .container .right form select {
    width: 220px;
  }
}

@media (max-width: 1004px) {
  .subscribe-wrapper .container .right form input, .subscribe-wrapper .container .right form select {
    width: 100%;
    margin-bottom: 10px;
  }
}

.subscribe-wrapper .container .right form select {
  border: 1px solid #ccc;
  background: #fff;
}

.subscribe-wrapper .container .right form .submit-btn {
  margin-right: 0;
  padding: 5px 13px 6px;
  background: #0d3174;
  border-radius: 15px;
  font-size: 13px;
  color: #fff;
  line-height: 1.2em;
  border: none;
  width: 83px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .subscribe-wrapper .container .right form .submit-btn {
    margin: 0 auto;
  }
}

.subscribe-wrapper .container .right form .submit-btn:hover {
  background: #000;
}

.news-watch-wrapper {
  margin: 20px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1180px) {
  .news-watch-wrapper {
    margin-bottom: 90px;
  }
}

@media (max-width: 1150px) {
  .news-watch-wrapper {
    margin-bottom: 110px;
  }
}

@media (max-width: 1080px) {
  .news-watch-wrapper {
    margin-bottom: 130px;
  }
}

@media (max-width: 1020px) {
  .news-watch-wrapper {
    margin-bottom: 50px;
  }
}

.news-watch-wrapper .container .news-watch {
  margin-top: 20px;
}

@media (max-width: 1020px) {
  .news-watch-wrapper .container .news-watch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-watch-wrapper .container .news-watch .curr-event {
  float: left;
  width: 22%;
  margin-right: 40px;
  height: 300px;
}

@media (max-width: 1020px) {
  .news-watch-wrapper .container .news-watch .curr-event {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    height: auto;
  }
}
.news-watch-wrapper .container .news-watch .curr-event ul {
  background: #f1eff0;
  padding: 15px;
  background-image: url(../../static/curr-events-bg-img.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.news-watch-wrapper .container .news-watch .latest-news {
  padding-top: 40px;
}

@media (max-width: 1020px) {
  .news-watch-wrapper .container .news-watch .latest-news {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px;
  }
}

.news-watch-wrapper .container .news-watch .latest-news ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 755px) {
  .news-watch-wrapper .container .news-watch .latest-news ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.news-watch-wrapper .container .news-watch .latest-news ul li {
  margin-right: 5%;
  width: 30%;
}

@media (max-width: 755px) {
  .news-watch-wrapper .container .news-watch .latest-news ul li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5%;
  }
}

.news-watch-wrapper .container .news-watch .latest-news ul li:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 755px) {
  .news-watch-wrapper .container .news-watch .latest-news ul li:last-child {
    margin-bottom: 0;
  }
}

.news-watch-wrapper .container .news-watch .latest-news ul li .details img {
  float: right;
  margin-left: 9px;
}

@media (max-width: 1050px) {
  .news-watch-wrapper .container .news-watch .latest-news ul li .details img {
    width: 46%;
  }
}

.news-watch-wrapper .container .news-watch .latest-news ul li .details .title a {
  color: #000;
  font-family: 'noto_sansbold';
  font-size: 13px;
}

@media (min-width: 992px) {
  .news-watch-wrapper .container .news-watch .latest-news ul li .details .title a:hover {
    color: #0066ff;
  }
}

.news-watch-wrapper .container .news-watch .latest-news ul li .details p {
  font-size: 13px;
  color: #666;
  font-family: 'merriweatherregular';
}

.news-watch-wrapper .container .news-watch .economy-wrap {
  width: 50%;
}

@media (max-width: 1020px) {
  .news-watch-wrapper .container .news-watch .economy-wrap {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.news-watch-wrapper .container .news-watch .economy-wrap div {
  display: inline-block;
  float: left;
}

.news-watch-wrapper .container .news-watch .economy-wrap div:nth-child(1) {
  width: 46%;
  margin-right: 5%;
}

@media (max-width: 1020px) {
  .news-watch-wrapper .container .news-watch .economy-wrap div:nth-child(1) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

.news-watch-wrapper .container .news-watch .economy-wrap div:nth-child(2) {
  width: 49%;
}

@media (max-width: 1020px) {
  .news-watch-wrapper .container .news-watch .economy-wrap div:nth-child(2) {
    width: 100%;
  }
}

.news-watch-wrapper .container .news-watch .economy-wrap, .news-watch-wrapper .container .news-watch .labpur-wrap {
  height: 200px;
  float: left;
}

@media (max-width: 1020px) {
  .news-watch-wrapper .container .news-watch .economy-wrap, .news-watch-wrapper .container .news-watch .labpur-wrap {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1020px) {
  .news-watch-wrapper .container .news-watch .labpur-wrap {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-bottom: 30px;
  }
}

.news-watch-wrapper .container .news-watch .curr-event a, .news-watch-wrapper .container .news-watch .economy-wrap a, .news-watch-wrapper .container .news-watch .labpur-wrap a {
  font-size: 14px;
  color: #000;
  font-family: 'merriweatherregular';
  display: block;
  line-height: 1.5em;
}

.news-watch-wrapper .container .news-watch .curr-event a:hover, .news-watch-wrapper .container .news-watch .economy-wrap a:hover, .news-watch-wrapper .container .news-watch .labpur-wrap a:hover {
  color: #0066ff;
}

.news-watch-wrapper .container .news-watch .curr-event ul li, .news-watch-wrapper .container .news-watch .economy-wrap ul li, .news-watch-wrapper .container .news-watch .labpur-wrap ul li {
  margin-bottom: 10px;
}

.news-watch-wrapper .container .news-watch .news-watch-banner {
  float: right;
  width: 23%;
}

@media (max-width: 1020px) {
  .news-watch-wrapper .container .news-watch .news-watch-banner {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 100%;
  }
}

@media (max-width: 1020px) {
  .news-watch-wrapper .container .news-watch .news-watch-banner img {
    margin-left: 0;
  }
}

.news-watch-wrapper .container .news-watch .economy-wrap, .news-watch-wrapper .container .news-watch .labpur-wrap, .news-watch-wrapper .container .news-watch .news-watch-banner {
  margin-top: 30px;
}

@media (max-width: 1020px) {
  .news-watch-wrapper .container .news-watch .economy-wrap, .news-watch-wrapper .container .news-watch .labpur-wrap, .news-watch-wrapper .container .news-watch .news-watch-banner {
    margin-top: 0;
  }
}
.doing-business-wrapper {
  background-image: url("../../static/bg-img.png");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 25px;
}

.doing-business-wrapper .container .buss-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  padding: 40px 0 40px;
  max-width: 90%;
  margin: 0 auto;
}

@media (max-width: 950px) {
  .doing-business-wrapper .container .buss-list-wrap {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .doing-business-wrapper .container .buss-list-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.doing-business-wrapper .container .buss-list-wrap li.buss-list-item {
  width: 31%;
  margin-right: 2%;
  text-align: center;
  border-right: 1px solid #ccc;
}

@media (max-width: 767px) {
  .doing-business-wrapper .container .buss-list-wrap li.buss-list-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    border-right: none;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
}

.doing-business-wrapper .container .buss-list-wrap li.buss-list-item:nth-child(3n) {
  margin-right: 0;
}

.doing-business-wrapper .container .buss-list-wrap li.buss-list-item h3 {
  font-size: 16px;
  position: relative;
  margin-bottom: 22px;
  margin-top: 0;
}

.doing-business-wrapper .container .buss-list-wrap li.buss-list-item h3:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 68px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -8px;
  background: #fe9900;
}

.doing-business-wrapper .container .buss-list-wrap li.buss-list-item ul li {
  text-align: center;
  width: 100%;
}

.doing-business-wrapper .container .buss-list-wrap li.buss-list-item ul li a {
  padding: 10px 5px;
  font-size: 16px;
  color: #000;
  font-family: 'merriweatherbold';
  display: block;
}

.doing-business-wrapper .container .buss-list-wrap li.buss-list-item ul li a:hover {
  color: #0066ff;
}

.doing-business-wrapper .container .buss-list-wrap li.buss-list-item:last-child {
  border-right: 0;
}

@media (max-width: 767px) {
  .doing-business-wrapper .container .buss-list-wrap li.buss-list-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.new-bussi-wrap {
  margin-bottom: 25px;
}

.destination-dubai-wrapper {
  margin-bottom: 25px;
}

.destination-dubai-wrapper .container .desti-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 945px) {
  .destination-dubai-wrapper .container .desti-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.destination-dubai-wrapper .container .desti-list li {
  margin-right: 2%;
  width: 20%;
}

@media (max-width: 945px) {
  .destination-dubai-wrapper .container .desti-list li {
    width: 31.33%;
    margin-bottom: 2%;
  }
}

@media (max-width: 650px) {
  .destination-dubai-wrapper .container .desti-list li {
    width: 49%;
  }
}

@media (max-width: 400px) {
  .destination-dubai-wrapper .container .desti-list li {
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid #ccc;
  }
}

@media (max-width: 945px) {
  .destination-dubai-wrapper .container .desti-list li:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 650px) {
  .destination-dubai-wrapper .container .desti-list li:nth-child(3n) {
    margin-right: 2%;
  }
}

@media (max-width: 650px) {
  .destination-dubai-wrapper .container .desti-list li:nth-child(2n) {
    margin-right: 0;
  }
}

.destination-dubai-wrapper .container .desti-list li:last-child {
  margin-right: 0;
}

.destination-dubai-wrapper .container .desti-list li a img {
  margin-left: 0;
  margin: 20px 0;
}

.destination-dubai-wrapper .container .desti-list li a p {
  color: #000;
  font-size: 16px;
  font-family: 'noto_sansbold';
}

.cloud-link-wrapper {
  margin-bottom: 25px;
}

.btm-note-wrapper {
  margin-bottom: 25px;
}

.btm-note-wrapper .container p {
  color: #999;
  font-family: 'noto_sans_jplight';
}

footer {
  background: #f0efef;
  padding: 40px 20px;
  position: relative;
  margin-top: 60px;
}

@media (max-width: 1100px) {
  footer {
    padding-left: 0;
    padding-right: 0;
  }
}

footer .container .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

@media (max-width: 960px) {
  footer .container .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  footer .container .footer-top {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
}

footer .container .footer-top .left {
  margin-right: 100px;
  width: 15%;
}

@media (max-width: 1100px) {
  footer .container .footer-top .left {
    margin-right: 45px;
  }
}

@media (max-width: 960px) {
  footer .container .footer-top .left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 45px;
  }
}

footer .container .footer-top .left .footer-subscribe {
  color: #979797;
  font-size: 14px;
  font-family: 'noto_sansbold';
  display: block;
  margin: 25px 0;
  text-align: center;
}

footer .container .footer-top .left .footer-subscribe:hover {
  color: #000;
}

footer .container .footer-top .left .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 960px) {
  footer .container .footer-top .left .footer-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 992px) {
  footer .container .footer-top .left .footer-social li.fb a:hover {
    color: #4267B2;
  }
  footer .container .footer-top .left .footer-social li.twitter a:hover {
    color: #1DA1F2;
  }
  footer .container .footer-top .left .footer-social li.insta a:hover {
    color: #3f729b;
  }
}

footer .container .footer-top .left .footer-social li a {
  font-size: 19px;
  color: #666;
  padding: 10px 15px;
}

footer .container .footer-top .right {
  width: 80%;
}

@media (max-width: 1100px) {
  footer .container .footer-top .right {
    width: 85%;
  }
}

@media (max-width: 960px) {
  footer .container .footer-top .right {
    width: 100%;
  }
}

footer .container .footer-top .right .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 960px) {
  footer .container .footer-top .right .footer-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  footer .container .footer-top .right .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .container .footer-top .right .footer-nav li {
  margin-right: 50px;
  width: 25%;
}

@media (max-width: 1100px) {
  footer .container .footer-top .right .footer-nav li {
    margin-right: 40px;
  }
}

@media (max-width: 960px) {
  footer .container .footer-top .right .footer-nav li {
    width: auto;
    margin-right: 60px;
  }
}

@media (max-width: 780px) {
  footer .container .footer-top .right .footer-nav li {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  footer .container .footer-top .right .footer-nav li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    text-align: center;
  }
}

footer .container .footer-top .right .footer-nav li:last-child {
  margin-right: 0;
}

footer .container .footer-top .right .footer-nav li a {
  color: #999;
  font-size: 16px;
  font-family: 'noto_sansbold';
  padding: 5px;
  display: block;
}

@media (min-width: 992px) {
  footer .container .footer-top .right .footer-nav li a:hover {
    color: #000;
  }
}

footer .container .footer-top .right .footer-nav li .submenu {
  position: relative;
}

footer .container .footer-top .right .footer-nav li .submenu:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 115%;
  top: -23px;
  left: -20px;
  background: #ccc;
}

footer .container .footer-top .right .footer-nav li .submenu li {
  margin-right: 0;
  width: 100%;
}

@media (max-width: 767px) {
  footer .container .footer-top .right .footer-nav li .submenu li {
    margin-bottom: 0;
  }
}

footer .container .footer-top .right .footer-nav li .submenu li a {
  font-size: 14px;
  font-family: 'noto_sansregular';
}

footer .container .footer-top .right .footer-nav li:first-child .submenu:before {
  display: none;
}

footer .container .footer-btm p {
  text-align: center;
  color: #999;
}

footer .container .footer-btm p:last-child {
  margin-bottom: 0;
}

footer .container .footer-btm p a {
  color: #999;
}

@media (min-width: 992px) {
  footer .container .footer-btm p a:hover {
    color: #000;
  }
}

footer .container .footer-btm .other-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  footer .container .footer-btm .other-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  footer .container .footer-btm .other-links li {
    text-align: center;
  }
}

footer .container .footer-btm .other-links li a {
  font-size: 14px;
  color: #999;
  padding: 5px 15px;
  position: relative;
}

@media (max-width: 811px) {
  footer .container .footer-btm .other-links li a {
    padding: 0 10px;
  }
}

@media (min-width: 992px) {
  footer .container .footer-btm .other-links li a:hover {
    color: #000;
  }
}

footer .container .footer-btm .other-links li a:before {
  content: '';
  position: absolute;
  right: 0;
  background: #ccc;
  height: 50%;
  width: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 767px) {
  footer .container .footer-btm .other-links li a:before {
    display: none;
  }
}

footer .container .footer-btm .other-links li:last-child a:before {
  display: none;
}

.news-filter {
  background: #0c3273;
  padding-top: 15px;
}

@media (max-width: 991px) {
  .news-filter {
    padding-bottom: 15px;
  }
}

.news-filter .container .filter-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

@media (max-width: 991px) {
  .news-filter .container .filter-wraper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 465px) {
  .news-filter .container .filter-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-filter .container .filter-wraper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 991px) {
  .news-filter .container .filter-wraper ul {
    width: 250px;
  }
}

@media (max-width: 465px) {
  .news-filter .container .filter-wraper ul {
    width: 100%;
    margin-bottom: 15px;
  }
}

.news-filter .container .filter-wraper ul li {
  padding: 0 6px;
}

@media (max-width: 991px) {
  .news-filter .container .filter-wraper ul li {
    padding: 0;
  }
}

.news-filter .container .filter-wraper ul li.active a {
  font-weight: 700;
}

.news-filter .container .filter-wraper ul li.active a:before {
  left: 0;
}

@media (max-width: 991px) {
  .news-filter .container .filter-wraper ul li {
    padding-left: 0;
    position: relative;
    background: #FFF;
    width: auto;
    border: 1px solid #ccc;
  }
}

.news-filter .container .filter-wraper ul li.filter-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .news-filter .container .filter-wraper ul li.filter-txt {
    width: 100%;
  }
}

.news-filter .container .filter-wraper ul li.filter-txt a.filter-tag {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  text-transform: initial;
  display: inline-block;
}

@media (max-width: 991px) {
  .news-filter .container .filter-wraper ul li.filter-txt a.filter-tag {
    color: #000;
    margin-right: 0;
    width: 100%;
    position: relative;
  }
}

@media (max-width: 465px) {
  .news-filter .container .filter-wraper ul li.filter-txt a.filter-tag {
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .news-filter .container .filter-wraper ul li.filter-txt a.filter-tag:hover:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .news-filter .container .filter-wraper ul li.filter-txt a.filter-tag:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 10px;
    color: #333;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    content: "\f0d7";
    font-size: 25px;
  }
}

@media (max-width: 1052px) {
  .news-filter .container .filter-wraper ul li.filter-txt a.filter-tag {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .news-filter .container .filter-wraper ul li.filter-txt .filter-li {
    position: absolute;
    width: 100%;
    background: #FFF;
    top: 46px;
    left: 0;
    display: none;
    z-index: 20;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid #ccc;
  }
}

@media (max-width: 991px) and (max-width: 465px) {
  .news-filter .container .filter-wraper ul li.filter-txt .filter-li {
    top: 37px;
  }
}

@media (max-width: 991px) {
  .news-filter .container .filter-wraper ul li.filter-txt .filter-li li {
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: none;
  }
}

@media (max-width: 991px) {
  .news-filter .container .filter-wraper ul li.filter-txt .filter-li li a {
    border-bottom: 1px solid #ccc;
    color: #000;
  }
}

@media (max-width: 991px) {
  .news-filter .container .filter-wraper ul li.filter-txt .filter-li.show {
    display: block;
  }
}

.news-filter .container .filter-wraper ul li a {
  font-size: 15px;
  color: #fff;
  padding: 5px 0 20px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2em;
}

@media (min-width: 992px) {
  .news-filter .container .filter-wraper ul li a:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fe9900;
    left: -100%;
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
    bottom: 0;
  }
  .news-filter .container .filter-wraper ul li a:hover:before {
    left: 0;
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
  }
}

@media (max-width: 1052px) {
  .news-filter .container .filter-wraper ul li a {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .news-filter .container .filter-wraper ul li a {
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .news-filter .container .filter-wraper ul li a {
    padding: 15px;
  }
}

.news-filter .container .filter-wraper .month-filter {
  width: 170px;
}

@media (max-width: 465px) {
  .news-filter .container .filter-wraper .month-filter {
    width: 100%;
  }
}

.news-filter .container .filter-wraper .month-filter select {
  padding: 5px;
  background: #fff;
}

@media (max-width: 465px) {
  .news-filter .container .filter-wraper .month-filter select {
    padding: 10px;
  }
}

.news-list-wrapper {
  margin: 50px 0;
}

.news-list-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 968px) {
  .news-list-wrapper .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-list-wrapper .container .right {
  margin-left: 60px;
  width: 27%;
}

@media (max-width: 968px) {
  .news-list-wrapper .container .right {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}

.news-list-wrapper .container .right img {
  margin-right: 0;
}

@media (max-width: 968px) {
  .news-list-wrapper .container .right img {
    margin-left: 0;
  }
}

.news-list-wrapper .container .right .subscribe-wrapper.vertical {
  margin-top: 50px;
  padding: 40px 30px;
  border: 1px solid #ccc;
}

.news-list-wrapper .container .right .subscribe-wrapper.vertical .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-list-wrapper .container .right .subscribe-wrapper.vertical .container .left, .news-list-wrapper .container .right .subscribe-wrapper.vertical .container .right {
  width: 100%;
  margin: 0;
}

.news-list-wrapper .container .right .subscribe-wrapper.vertical .container .left p, .news-list-wrapper .container .right .subscribe-wrapper.vertical .container .right p {
  text-align: center;
}

.news-list-wrapper .container .right .subscribe-wrapper.vertical .container .right .subscribe {
  margin-top: 15px;
}

.news-list-wrapper .container .right .subscribe-wrapper.vertical .container .right .subscribe input, .news-list-wrapper .container .right .subscribe-wrapper.vertical .container .right .subscribe select {
  width: 100%;
  margin-bottom: 15px;
}

.news-list-wrapper .container .right .subscribe-wrapper.vertical .container .right .subscribe .submit-btn {
  width: auto;
  margin-bottom: 0;
}

.news-list-wrapper .container .left {
  width: 69%;
}

@media (max-width: 968px) {
  .news-list-wrapper .container .left {
    width: 100%;
  }
}

.news-list-wrapper .container .left .accordion {
  border: none !important;
}

.news-list-wrapper .container .left .accordion .col-md-8 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.news-list-wrapper .container .left .accordion .col-md-8:last-child {
  margin-bottom: 0;
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading {
  position: relative;
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button {
  height: 120px;
  padding-right: 50px;
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button:hover {
  background-color: transparent !important;
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button:before {
  content: '';
  position: absolute;
  right: 17px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #0a1956;
  top: 24%;
  cursor: pointer;
  border-bottom: none !important;
  -webkit-transform: rotate(0) !important;
          transform: rotate(0) !important;
}

@media (max-width: 540px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button:before {
    top: 0;
  }
}

@media (max-width: 540px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button img {
  float: left;
  margin-right: 15px;
  height: inherit;
}

@media (max-width: 540px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 15px;
  }
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button .news-cat {
  font-size: 12px;
  color: #003366;
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 540px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button .news-cat {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button div {
  font-size: 24px;
  color: #000;
  font-family: 'merriweatherbold';
  display: block;
  margin-bottom: 8px;
  line-height: 1.5em;
}

@media (max-width: 540px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button div {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 22px;
  }
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button .date {
  font-size: 14px;
}

@media (max-width: 540px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__heading .accordion__button .date {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__button[aria-expanded='false'] {
  height: 95px;
}

@media (max-width: 540px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__button[aria-expanded='false'] {
    height: auto;
  }
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__button[aria-expanded='false'] div {
  font-size: 18px;
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__button[aria-expanded='false'] .news-cat {
  text-transform: uppercase;
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel {
  padding-right: 65px;
  position: relative;
  padding-top: 20px;
}

@media (max-width: 968px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel {
    padding-right: 0;
  }
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel p {
  font-size: 16px;
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel .social-share {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  float: none;
}

@media (max-width: 1000px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel .social-share {
    position: relative;
    margin-bottom: 10px;
    margin-top: 15px;
  }
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel .exter-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

@media (max-width: 690px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel .exter-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel .exter-link p {
  font-family: 'merriweatherbold';
  margin-bottom: 0;
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel .exter-link p.right {
  text-align: right;
  width: auto;
  margin-left: 0;
}

@media (max-width: 968px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel .exter-link p.right {
    width: 30%;
  }
}

@media (max-width: 690px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel .exter-link p.right {
    text-align: left;
    margin-top: 15px;
    width: 100%;
  }
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel .exter-link p a {
  display: block;
  color: #003366;
  text-decoration: underline;
  font-size: 16px;
}

@media (min-width: 991px) {
  .news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel .exter-link p a:hover {
    color: #333;
  }
}

.news-list-wrapper .container .left .accordion .col-md-8 .accordion__panel .exter-link p a i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 5px;
}

.news-list-wrapper .container .left .accordion .col-md-8.no-img .accordion__button {
  height: auto;
}

.news-list-wrapper .container .left .btm-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 70px;
  margin-right: 50px;
}

@media (max-width: 968px) {
  .news-list-wrapper .container .left .btm-btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
}

.news-list-wrapper .container .left .btm-btn .load-more, .news-list-wrapper .container .left .btm-btn .top-btn {
  display: block;
  width: 480px;
  padding: 13px 15px;
  text-align: center;
  border: 1px solid #ccc;
  color: #666;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
}

.news-list-wrapper .container .left .btm-btn .load-more:hover, .news-list-wrapper .container .left .btm-btn .top-btn:hover {
  color: #000;
}

.news-list-wrapper .container .left .btm-btn .top-btn {
  border: none;
  margin-top: 30px;
}
